#hero-section {
    background-image: url("assets/home/mobile/image-header.jpg");
    background-position: center;

    background-size: cover;
    
}

@media screen and (min-width: 768px) {
    #hero-section {
        background-image: url("assets/home/tablet/image-header.jpg");
    }
}

@media  screen and (min-width: 1280px) {
     #hero-section {
        background-image: url("assets/home/desktop/image-hero.jpg");
    }
}
